<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admins/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="name">Enter firstName: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <label for="lastName">Enter lastName: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <label for="role">Enter role: </label>
    <select multiple="multiple" th:field="*{roles}" id="role">
        <option th:each="role : ${listRoles}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
    </select>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>